<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
	<add key="TallonFeed" value="https://pkgs.dev.azure.com/tallondev/Equilibrium/_packaging/TallnNugetFeed/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <TallonFeed>
      <add key="Username" value="alien-it@outlook.com" />
      <add key="ClearTextPassword" value="4deyzlu2xxuz5krwtmjfsxrryaz2mezkjhvt5fzedftc6vf2ljga" />
    </TallonFeed>
  </packageSourceCredentials>
</configuration>